/* Centering the container on the full page */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    /* remove default margin */
    padding: 0;
    /* remove default padding */
    box-sizing: border-box;
    justify-content: center;
}


/* Container panel */
.home-container {
    width: 100%;
    /* default width */
    background-color: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Content inside container */
.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    background-color: #e9e9ff;  /* subtle light blue background */
    border-radius: 10px;
    padding: 15px 20px; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

.github-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.description {
    font-size: 1.2em;           /* slightly larger text */
    color: #1b1f6b;             /* dark blue, matching the title */
    margin: 0 auto 25px auto;   /* center horizontally and spacing below */
    line-height: 1.6;           /* improve readability */
    text-align: center;
    max-width: 600px;           /* reduce width */
}


.title {
    color: #1b1f6b;
    /* Dark blue */
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.2s;
}

input:focus {
    border-color: #1b1f6b;
}

button {
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    background-color: #1b1f6b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}


button:disabled {
    background-color: #888;
    cursor: not-allowed;
}

.error {
    color: red;
    font-size: 14px;
}